In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('combined_csv_data.csv')

/var/folders/hh/skldlnlx0579tnk__8txs8th0000gn/T/ipykernel_18983/1474539992.py:1: DtypeWarning: Columns (2,3,4,5,6,8,9,10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('combined_csv_data.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23530652 entries, 0 to 23530651
Data columns (total 17 columns):
 #   Column         Dtype
---  ------         -----
 0   time           int64
 1   icao24         object
 2   lat            object
 3   lon            object
 4   velocity       object
 5   heading        object
 6   vertrate       object
 7   callsign       object
 8   onground       object
 9   alert          object
 10  spi            object
 11  squawk         float64
 12  baroaltitude   float64
 13  geoaltitude    object
 14  lastposupdate  float64
 15  lastcontact    float64
 16  hour           float64
dtypes: float64(5), int64(1), object(11)
memory usage: 3.0+ GB

In [9]:
def extract_first_percentage_rows(percentage):
    num_rows = int(len(data) * (percentage / 100))
    first_percentage_rows = data.head(num_rows)
    first_percentage_rows.to_csv('first10%_data.csv', index=False)

# Gọi hàm với phần trăm cụ thể
extract_first_percentage_rows(10)

In [10]:
df = pd.read_csv('first10%_data.csv')
df

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,hour
0,1477057155,a45cef,33.795083,-84.475079,247.890381,347.997437,NaN,NaN,False,False,False,NaN,NaN,9776.46,1.477057e+09,1.477057e+09,1.477055e+09
1,1477057156,a45cef,33.795083,-84.475079,247.890381,347.997437,NaN,NaN,False,False,False,NaN,NaN,9776.46,1.477057e+09,1.477057e+09,1.477055e+09
2,1477057157,a45cef,33.795083,-84.475079,247.890381,347.997437,NaN,NaN,False,False,False,NaN,NaN,9776.46,1.477057e+09,1.477057e+09,1.477055e+09
3,1477057158,a45cef,33.795083,-84.475079,247.890381,347.997437,NaN,NaN,False,False,False,NaN,NaN,9776.46,1.477057e+09,1.477057e+09,1.477055e+09
4,1477057159,a45cef,33.795083,-84.475079,247.890381,347.997437,NaN,NaN,False,False,False,NaN,NaN,9776.46,1.477057e+09,1.477057e+09,1.477055e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2353060,1498947781,ab00d6,33.841507,-84.386771,170.844986,99.008504,3.2512,DAL72,False,False,False,2061.0,3322.32,3482.34,1.498948e+09,1.498948e+09,1.498946e+09
2353061,1498947782,ab00d6,33.841507,-84.386771,170.844986,99.008504,3.2512,DAL72,False,False,False,2061.0,3322.32,3482.34,1.498948e+09,1.498948e+09,1.498946e+09
2353062,1498947783,ab00d6,33.841507,-84.386771,170.844986,99.008504,3.2512,DAL72,False,False,False,2061.0,3322.32,3482.34,1.498948e+09,1.498948e+09,1.498946e+09
2353063,1498947784,ab00d6,33.841507,-84.386771,170.844986,99.008504,3.2512,DAL72,False,False,False,2061.0,3322.32,3482.34,1.498948e+09,1.498948e+09,1.498946e+09
2353064,1498947785,ab00d6,33.841507,-84.386771,170.844986,99.008504,3.2512,DAL72,False,False,False,2061.0,3322.32,3482.34,1.498948e+09,1.498948e+09,1.498946e+09